@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark-theme {
  background-color: black;
  color: white;
}
.dark-mode .nav-link {
  color: white; /* Example style change for link text color in dark mode */
}

.dark-mode .nav-button {
  background-color: black; /* Example style change for button background color in dark mode */
  color: white; /* Example style change for button text color in dark mode */
}